body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.conteudo { 
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
}

.obra {
    width: 250px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    vertical-align: top;
}

.obra img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.obra h2 {
    margin-top: 0;
}

.botao {
    background-color: #061f3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.botao:hover {
    background-color: #012347;
}

a {
    text-decoration: none;
}

a button {
    margin-top: 10px;
}

.filtro {
    float: right; /* Alinha o filtro à direita */
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;
}

.filtro h2 {
    margin-top: 0;
}

.filtro label {
    display: block; 
    margin-bottom: 5px; 
}

.filtro select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
}

.filtro button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    width: 100%;
}

.filtro button[type="submit"]:hover {
    background-color: #0056b3;
}